* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(101, 106, 110);
    font-size: 18px;
}

.tudo{
    background-color: rgb(255, 255, 255) ;
    padding: 30px 80px 30px 80px;
    border: 4px solid rgb(191, 199, 199);
    margin: 40px 40px ;
}  
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center; 
} 

.menu__header{
    display: Flex;
    align-items: center;
}


.menu__header img{
    width: 25px;
    height: 25px;
    padding-right: 3px;
}

.menu__list{
    display:flex;
    list-style: none;
    
}

.menu__list__item a{
    text-decoration: none;
    padding: 10px;
    opacity: 0.3;
    font-weight: bold;
    

}

.menu__list__item a:hover{
    background-color: rgb(191, 199, 199);
    border-radius: 10px;
    color: #fff;
    opacity: 1; 
}

/*seccion titulo*/

.title{
    display: flex;
}

.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 30px;
    
}

.title__bio{
    font-size: 30px;
}

.title__profile{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.title__network{
    display: flex;
    list-style: none;
    padding-inline-start: 0% ; 
    
}
.title__network a{
    padding-right: 30px;  
    text-decoration: none;
    opacity: 0.3;
    font-weight: bold;
}

.title__network a:hover{
    text-decoration: underline;
    font-weight: bold;
    opacity: 1;
    
}

/*sobre mi*/

.about{
    background-color: #fafbfc;
    padding: 10px;
    margin-top: 20px;
}

/*Skills*/

.skills{
    display: block;
    text-align: center;
    margin-bottom: 50px ;
    
   
}
.skills__line{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
    
}

.skills__box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(255, 251, 245);
    box-shadow: 24px 25px 24px 0px rgba(0,0,0,0.32);
-webkit-box-shadow: 24px 25px 24px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 24px 25px 24px 0px rgba(0,0,0,0.32);

}

.skills__box ul{
    padding-inline-start: 0;
    padding-top: 30px;
    padding-right: 40px;
    
}


.skills__name, .skills__img{
    list-style: none;
    font-size: small;
    
}

/*hobbies*/

.hobbies{
    display: block;
    text-align: center; 
    margin-bottom: 50px;
}


.hobbies__box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(255, 251, 245);
    box-shadow: 24px 25px 24px 0px rgba(0,0,0,0.32);
-webkit-box-shadow: 24px 25px 24px 0px rgba(0,0,0,0.32);
-moz-box-shadow: 24px 25px 24px 0px rgba(0,0,0,0.32);
}
.hobbies__line{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.hobbies__box ul{
    padding-inline-start: 0;
    padding-top: 30px;
    padding-right: 40px;
    background-color: rgb(255, 251, 245);
    
}

.hobbies__name, .hobbies__img{
    list-style: none;
    font-size: small;
}

/*formacion*/

.logoformacion{
    width: 190px;
    height: 130px;
    
}

.academic{
    display: block;
    text-align: center;
    
}

.academic__courses{
    display: flex;
    justify-content: space-evenly;
}
.academic__courses__list{
    list-style: none;
}

/*Experiencia*/

.experience{
    display: block;
    text-align: center;
    
}

.experiencie__box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.experience__img{
    width: 70%;
    margin-bottom: 30px;
}

.btn{
    position: relative;
    padding: 15px ;
    margin: 5px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: rgb(51, 14, 214);
    border: 2px solid blue;
    opacity: 0.8;
   
}

.btn::after, .btn::before{
    content: "";
    position: absolute;
    opacity: 0.03;
    background: rgb(51, 14, 214);
    border-radius: inherit;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.03s ease;
    
}

.btn:hover{
    transform: translate(-10px, -5px);
    opacity: 1;
    box-shadow: 31px 31px 31px 5px rgba(51,14,214,0.75);
-webkit-box-shadow: 31px 31px 31px 5px rgba(51,14,214,0.75);
-moz-box-shadow: 31px 31px 31px 5px rgba(51,14,214,0.75);
}

.btn:hover::after{
    transform: translate(-5px, -5px);
}

.btn:hover::before{
    transform: translate(-5px, -5px);
}

/*contacto*/

.formcontato{
    display: block;
    align-items: center;
    
}

.formcontato__contacto{
    display: flex;
    align-items: center;
    text-align: start;
    

}

.formcontato__img{
    background-color: #fff;
    margin-right: 20px ;
    width: 90%;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    

}

.form__input, .formcontato__textarea{
	position: relative;
	width: 100%;
	margin-top: 0.5rem;
	padding-block: 1rem;
	border-radius: 5px 10px;
	background-color: whitesmoke;
	border: none;
	outline: none;

}

.form__input:hover, .formcontato__textarea:hover {
	border-bottom: 2px solid rgb(101, 101, 240);

}

.formcontacto__boton{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(101, 101, 240);
    border-radius: 10px;
    box-shadow:  0 0 5px rgb(101, 101, 240);
}

.formcontacto__boton:hover{
    background-color: rgb(101, 101, 240);
    box-shadow: 0 0 5px rgb(101, 101, 240), 0 0 25px rgb(101, 101, 240), 0 0 50px rgb(101, 101, 240), 0 0 100px rgb(101, 101, 240), 0 0 200px rgb(101, 101, 240);
    
}

.formcontacto__boton:active{
    background-color: blue;
}

/*footer*/

.footer__rodape p{
    font-size: 13px;
    font-weight: bold;
}



